body {
  margin: 0;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  font-family: "lucida grande", "helvetica neue", "helvetica", sans-serif;
}

a {
  color: #0B7DA6;
}

header {
  background: #F15A24;

  & h1 {
    margin: 0 .5rem 1rem;
    padding: 1.5rem 0;

    & a {
      display: block;
      width: 90%;
      height: 150px;
      margin: 0 auto;
      text-indent: -1000px;
      background: url('/img/header-logo.png') no-repeat center;
      background-size: contain;
    }
  }

  & ul {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
  }
}

main {
  margin: 3rem 0;
  padding: 0 1.5rem;

  & section {
    & h2 {
      color: #F15A24
    }
  }
}

footer {
  margin-top: 3rem 0;
  padding: 0 1.5rem;

  & nav {
    & ul {
      display: flex;
      flex: 1;
      margin: 2rem 0;

      & li {
        margin: 0;
        padding: 0 1rem;
        list-style: none;
        font-size: 1em;
      }
    }
  }

  & #copyright {
    text-align: center;
    font-size: 0.5em;
  }

}